table td {
    height: 40px;
    width: 40px;
}
table {
    border: 1px solid black;
}



#first tr:nth-child(3n-2) td:nth-child(3n-2) {
    background-color: #F16F12;
}
#first tr:nth-child(3n-2) td:nth-child(3n-1) {
    background-color: #F8B16D;
}
#first tr:nth-child(3n-2) td:nth-child(3n) {
    background-color: #A74B08;
}

#first tr:nth-child(3n-1) td:nth-child(3n) {
    background-color: #F16F12;
}
#first tr:nth-child(3n-1) td:nth-child(3n-2) {
    background-color: #F8B16D;
}
#first tr:nth-child(3n-1) td:nth-child(3n-1) {
    background-color: #A74B08;
}

#first tr:nth-child(3n) td:nth-child(3n-1) {
    background-color: #F16F12;
}
#first tr:nth-child(3n) td:nth-child(3n) {
    background-color: #F8B16D;
}
#first tr:nth-child(3n) td:nth-child(3n-2) {
    background-color: #A74B08;
}


#second tr td:nth-child(4n-3) {
    background-color: #cccccc;
}
#second tr td:nth-child(4n-2) {
    background-color: #999999;
}
#second tr td:nth-child(4n-1) {
    background-color: #666666;
}
#second tr td:nth-child(4n) {
    background-color: #333333;
}








